openapi: 3.1.0
info:
  title: MyKayak API
  version: 1.0.0
  description: Enhanced FICr API
servers:
  - url: https://api.mykayak.fuffo.net
    description: Production server
components:
  securitySchemes:
    standardAuth:
      type: apiKey
      in: cookie
      name: X-API-KEY
    adminAuth:
      type: apiKey
      in: cookie
      name: X-ADMIN-API-KEY

paths:
  /meets:
    get:
      summary: Get meets
      security:
        - standardAuth: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    name:
                      type: string
                    location:
                      type: string
                    date:
                      type: string
                      format: date
  /create_key:
    post:
      summary: Create a new api key
      description: Requires an admin api key, returns the generated api key once it has been inserted with the given description.
      security:
        - adminAuth: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                description:
                  type: string


      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  key:
                    type: string
                    example: bb4c16ee45465d0a
        "401":
          description: Unauthorized