openapi: 3.1.0
info:
  title: MyKayak API
  version: 1.0.0
  description: Enhanced FICr API with Admin Modification Capabilities
  license:
    name: MIT
    identifier: MIT
servers:
  - url: https://api.mykayak.fuffo.net
    description: Production server
security:
  - {} # Default to no security for public endpoints
components:
  securitySchemes:
    adminToken:
      type: http
      scheme: bearer
      description: Bearer token obtained from /login

  schemas:
    Stats:
      type: object
      properties:
        athletes:
          type: integer
        teams:
          type: integer
        meets:
          type: integer
        races:
          type: integer
        heats:
          type: integer
        performances:
          type: integer
        boats:
          type: object
          properties:
            C1:
              type: integer
            C2:
              type: integer
            C4:
              type: integer
            K1:
              type: integer
            K2:
              type: integer
            K4:
              type: integer
            other:
              type: integer
        gender:
          type: object
          properties:
            M:
              type: integer
            F:
              type: integer
            X:
              type: integer

    Meet:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        location:
          type: string
        date:
          type: string
          format: date

    Race:
      type: object
      properties:
        id:
          type: integer
        code:
          type: string
        distance:
          type: integer
        division:
          type: string
        category:
          type: string
        boat:
          type: string
        level:
          type: string
        start_time:
          type: string
          format: date-time

    Heat:
      type: object
      properties:
        id:
          type: integer
        index:
          type: integer
        start_time:
          type: string
          format: date-time
        is_result:
          type: boolean
          description: True if the heat contains results, false if it is a startlist.
        performances:
          type: array
          items:
            $ref: '#/components/schemas/Performance'

    Performance:
      type: object
      properties:
        id:
          type: integer
        team_id:
          type: string
        team_name:
          type: string
        lane:
          type: integer
        placement:
          type: [integer, "null"]
        time_ms:
          type: [integer, "null"]
        status:
          type: [string, "null"]
        points:
          type: integer
        athletes:
          type: array
          items:
            $ref: '#/components/schemas/Athlete'

    Athlete:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        surname:
          type: string
        birth_date:
          type: string
          format: date

    Team:
      type: object
      properties:
        team_id:
          type: string
        name:
          type: string
        logo:
          type: [string, "null"]

    TeamTitle:
      type: object
      properties:
        time_ms:
          type: integer
          description: Winning time in milliseconds
        start_time:
          type: string
          format: date-time
          description: Date/time of the race
        distance:
          type: integer
        category:
          type: string
        division:
          type: string
        boat:
          type: string
        location:
          type: string

    MedalTableEntry:
      type: object
      properties:
        meet_id:
          type: string
          description: Only present when querying a specific meet
        team_id:
          type: string
        team_name:
          type: string
        gold:
          type: integer
        silver:
          type: integer
        bronze:
          type: integer
        total_medals:
          type: integer

    AthleteRanking:
      type: object
      properties:
        athlete_id:
          type: integer
        name:
          type: string
        surname:
          type: string
        birth_date:
          type: string
          format: date
        distance:
          type: integer
        boat:
          type: string
        category:
          type: string
          description: Gender category (M/F)
        division:
          type: string
        best_time:
          type: integer
          description: Best time in milliseconds
        avg_best_3:
          type: number
          description: Average of best 3 times in the filtered period (milliseconds)

    PersonalRecord:
      type: object
      properties:
        boat:
          type: string
        distance:
          type: integer
        category:
          type: string
        time:
          type: integer

    TimeProgressionEntry:
      type: object
      properties:
        time_ms:
          type: integer
          description: Race time in milliseconds
        date:
          type: string
          format: date
          description: Date when the race was held

paths:
  /stats:
    get:
      operationId: getStats
      summary: Get overall database statistics
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stats'
        "400":
          description: Invalid request
        "500":
          description: Internal Server Error

  /meets:
    get:
      operationId: getMeets
      summary: Get all meets
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Meet'
        "400":
          description: Invalid request
        "500":
          description: Internal Server Error

  /meets/{meet_id}:
    patch:
      operationId: updateMeet
      summary: Update meet attributes (Admin only)
      security:
        - adminToken: []
      parameters:
        - name: meet_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                location:
                  type: string
                date:
                  type: string
                  format: date
                is_championship:
                  type: boolean
      responses:
        "200":
          description: Meet updated successfully
        "400":
          description: Bad request
        "401":
          description: Unauthorized
        "404":
          description: Meet not found

  /races/{meet_id}:
    get:
      operationId: getRacesByMeet
      summary: Get races for a meet
      parameters:
        - name: meet_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Race'
        "400":
          description: Meet ID not provided

  /heats/{race_id}:
    get:
      operationId: getHeatsByRace
      summary: Get heats for a race
      parameters:
        - name: race_id
          in: path
          required: true
          schema:
            type: string
        - name: startlist
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: If true, returns the data in startlist format (nullifying result-specific fields even if available).
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Heat'
        "400":
          description: Race ID not provided

  /medal_table:
    get:
      operationId: getMedalTable
      summary: Get medal table with optional filters
      description: Returns medal standings. Use filters to get standings for a specific meet, season, date range, or all-time. Leave all params empty for all-time standings across all races.
      parameters:
        - name: meet_id
          in: query
          required: false
          schema:
            type: string
          description: Filter by meet ID (partial match). Use this to get standings for a specific meet.
        - name: after
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Filter medals from this date onwards (exclusive). Use with `before` for a season or date range.
        - name: before
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Filter medals up to this date (exclusive). Use with `after` for a season or date range.
        - name: only_championships
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: Only include championship events. Can be combined with other filters.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MedalTableEntry'
        "400":
          description: Invalid parameters

  /rankings:
    get:
      operationId: getRankings
      summary: Get athlete rankings for single-boat events (K1/C1)
      description: Returns athlete rankings ordered by average of best 3 times. Filters by category (gender), division, distance, and date range. Use `after` to get rankings for the last year (e.g., `after=2025-01-01`). Leave all params empty for all-time rankings across all events.
      parameters:
        - name: category
          in: query
          required: false
          schema:
            type: string
            enum: [M, F]
          description: Filter by gender category (M=male, F=female)
        - name: division
          in: query
          required: false
          schema:
            type: string
          description: Filter by division (e.g., SEN, JUN, U23)
        - name: distance
          in: query
          required: false
          schema:
            type: integer
          description: Filter by race distance in meters (e.g., 200, 500, 1000)
        - name: after
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Filter races from this date onwards. Use for seasonal rankings (e.g., last year).
        - name: before
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Filter races up to this date. Use with after for a specific season or date range.
        - name: boat
          in: query
          required: false
          schema:
            type: string
            enum: [K1, C1]
          description: Filter by boat type (K1 or C1)
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AthleteRanking'
        "400":
          description: Invalid parameters

  /athletes:
    get:
      operationId: searchAthletes
      summary: Search athletes with filters
      parameters:
        - name: name_hint
          in: query
          required: false
          schema:
            type: string
          description: Filter by name or surname (partial match)
        - name: birth_before
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Filter athletes born before this date
        - name: birth_after
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Filter athletes born after this date
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 100
          description: Maximum number of athletes to return
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            default: 0
          description: Number of athletes to skip
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Athlete'
        "400":
          description: Invalid parameters

  /athlete/{athlete_id}:
    get:
      operationId: getAthleteById
      summary: Get athlete details including current team, personal records and time progression
      parameters:
        - name: athlete_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  surname:
                    type: string
                  birth_date:
                    type: string
                    format: date
                  team:
                    $ref: '#/components/schemas/Team'
                  personal_records:
                    type: array
                    items:
                      $ref: '#/components/schemas/PersonalRecord'
                  time_progression:
                    type: object
                    description: Map of distance_boat_category keys (e.g., 200_K2_M) to arrays of time entries ordered by date
                    additionalProperties:
                      type: array
                      items:
                        $ref: '#/components/schemas/TimeProgressionEntry'
        "400":
          description: Athlete ID not provided
        "404":
          description: Athlete not found

  /teams:
    get:
      operationId: searchTeams
      summary: Search teams by name
      parameters:
        - name: hint
          in: query
          required: false
          schema:
            type: string
            default: ""
          description: Filter by team name (partial match)
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Team'
        "400":
          description: Invalid parameters

  /team/{team_id}:
    get:
      operationId: getTeamById
      summary: Get team details including titles
      parameters:
        - name: team_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  team_id:
                    type: string
                  name:
                    type: string
                  logo:
                    type: [string, "null"]
                  titles:
                    type: array
                    items:
                      $ref: '#/components/schemas/TeamTitle'
        "400":
          description: Team ID not provided
        "404":
          description: Team not found

  /teams/{team_id}/logo:
    put:
      operationId: updateTeamLogo
      summary: Update team logo (Admin only)
      security:
        - adminToken: []
      parameters:
        - name: team_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - logo
              properties:
                logo:
                  type: string
                  description: The URL of the logo
      responses:
        "200":
          description: Logo updated successfully
        "400":
          description: Bad request
        "401":
          description: Unauthorized
        "404":
          description: Team not found

  /register:
    post:
      operationId: registerAdmin
      summary: Register a new admin (Admin only)
      security:
        - adminToken: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - username
                - password
              properties:
                username:
                  type: string
                password:
                  type: string
                  format: password
      responses:
        "201":
          description: Admin registered successfully
        "400":
          description: Bad request (missing fields)
        "401":
          description: Unauthorized
        "409":
          description: Conflict (username already in use)

  /login:
    post:
      operationId: loginAdmin
      summary: Login an admin
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - username
                - password
              properties:
                username:
                  type: string
                password:
                  type: string
                  format: password
      responses:
        "200":
          description: Successful login
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
        "400":
          description: Bad request (missing fields)
        "401":
          description: Unauthorized (invalid credentials)
